body
{
  background-image: url("images/bgimage.jpg");
}
.homepage
{
 border-radius: 15px;
 text-align: center;
 background-color: black;
 margin: 12% 30%;
 padding: 20px;
}

.profile-page {
  border-radius: 15px;
  background-color: #000;
  margin: 12% 20%;
  padding: 50px 0;
}

.head
{
  color: #E4F9F5;
  font-size: 35px;
  font-weight: 400;
  font-family: 'Times New Roman', Times, serif; 
  font-style: normal;
}
.button-container {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn{
  border-radius: 4px;
  background-color: #40514E;
  color: #E4F9F5;
  border: none;
  padding: 10px;
  margin: 20px;
}
.btn:hover{
  color: #40514E;
  background-color: #E4F9F5;
}

.login-form {
  margin: 20px;
  padding: 0 30px;
}

.form-floating{
  height: 60px;
}
.form-floating input[type="email"]{
  background-color: #E4F9F5;
  margin-top: 20px;
  border-radius: 5px 5px 0 0;
}

.form-floating input[type="password"]{
  background-color: #E4F9F5;
  margin-top: -1px;
  margin-bottom: 20px;
  border-radius: 0 0 5px 5px;
}

.profile-btn {
  width: 80%;
}

.btn-danger {
  background-color: red;
  color: white;
}